body, html {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
}

.main {
    height: 25em;
    width: 60em;

    display: flex;
    /* flex-direction: column; */

    /* background-color: rgb(153, 51, 51); */
}   
    .left {
        height: 25em;
        width: 10em;
        /* background-color: rgb(0, 183, 255); */

        margin-right:auto;
        margin-left:0;
        align-items: center;

        /* display: flex; */
        flex-direction: row;
    }
        .leftTop {
            height: 8.33em;
            width: 10em;

            margin-top:0;
            margin-bottom: auto;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content:space-around;
            
            border-radius: 50% 0 0 0;
            
            background-color: rgb(0, 183, 255);
        }
            .joystickLeft {
                background-color: black;
                height: 5em;
                width: 5em;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content:space-around;

                border-radius: 100%;

                margin-top: 3em;
            }

                .joyLeftCircle {
                    background-color: grey;
                    height: 3.5em;
                    width: 3.5em;

                    border-radius: 100%;
                }

        .leftCenter {
            height: 8.33em;
            width: 10em;

            margin-top:auto;
            margin-bottom: auto;

            background-color: rgb(0, 183, 255);
        }
        .leftBottom {
            height: 8.33em;
            width: 10em;

            margin-top:auto;
            margin-bottom: 0;

            border-radius:  0 0 0 50%;

            background-color: rgb(0, 183, 255);
        }


    .right {
        height: 25em;
        width: 10em;
        /* background-color: rgb(255, 72, 0); */

        margin-left:auto;
        margin-right:0;
    }
    .rightTop {
        height: 8.33em;
        width: 10em;

        margin-top:0;
        margin-bottom: auto;
        
        border-radius: 0 50% 0 0;
        
        background-color: rgb(255, 72, 0);
    }


    .rightCenter {
        height: 8.33em;
        width: 10em;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:space-around;

        margin-top:auto;
        margin-bottom: auto;

        background-color: rgb(255, 72, 0);
    }

        .joystickRight {
            background-color: black;
            height: 5em;
            width: 5em;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content:space-around;

            border-radius: 100%;

            margin-top: 2em;
        }

            .joyRightCircle {
                background-color: grey;
                height: 3.5em;
                width: 3.5em;

                border-radius: 100%;
            }

    .rightBottom {
        height: 8.33em;
        width: 10em;

        margin-top:auto;
        margin-bottom: 0;

        border-radius:  0 0 50% 0;

        background-color: rgb(255, 72, 0);
    }


    .center {
        background-color: rgba(95, 82, 82, 0.932);

        height: 100%;
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        position:relative;

        border-radius: 0 0 2% 2%;
    }

    .frame {
        background-color: black;
        height: 95%;
        width: 95%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        border-radius: 2%;
    }

    .screen {
        background-color: rgb(61, 61, 61);
        height: 90%;
        width: 85%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


        border-radius: 2%;
    }

    .gapLeft {
        background-color: white;
        position: absolute;
        top: 0%;
        left: 0%;

        height: 1em;
        width: 1em;

        border-radius: 0 0 50% 0;
    }

    .gapRight {
        background-color: white;
        position: absolute;
        top: 0%;
        right: 0%;

        height: 1em;
        width: 1em;

        border-radius: 0 0 0 50%;
    }